<base href="/">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="utf-8">


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
  <!-- Animation -->
  <link rel="stylesheet" href="/assets/plugins/animate.css">
  <!-- Prettyphoto -->
  <link rel="stylesheet" href="/assets/plugins/prettyPhoto.css">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="/assets/plugins/owl/owl.carousel.css">
  <link rel="stylesheet" href="/assets/plugins/owl/owl.theme.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="/assets/plugins/flex-slider/flexslider.css">
  <!-- Flexslider -->
  <link rel="stylesheet" href="/assets/plugins/cd-hero/cd-hero.css">
  <!-- Style Swicther -->
  <link id="style-switch" href="/assets/css/presets/preset3.css" media="screen" rel="stylesheet" type="text/css">

<!-- Main Stylesheet -->
<link href="/assets/css/style.css" rel="stylesheet">

<!--Favicon-->
  <link rel="icon" href="img/favicon/favicon-32x32.png" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/favicon/favicon-144x144.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/favicon/favicon-72x72.png">
  <link rel="apple-touch-icon-precomposed" href="img/favicon/favicon-54x54.png">
  

    <!-- Header start -->
 <header id="header" class="fixed-top header" role="banner">
      
        <!-- <a class="navbar-brand navbar-bg" [routerLink]="['/']"></a> -->
        <div class="container">
          
            
     <nav class="navbar navbar-expand-lg navbar-dark">

                <button class="navbar-toggler ml-auto border-0 rounded-0 text-white" type="button" data-toggle="collapse"
                    data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
    
                <div class="collapse navbar-collapse text-center" id="navigation">
                    <ul class="navbar-nav ml-auto">
                        <li>
                            <a class="nav-link" href="#section1" role="button" >
                                Home
                            </a>
                        
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="#section2" role="button" >
                                About Us
                            </a>
                        
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#section3" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Our Team
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" routerLink="/ankit">CA. Ankit Jaisinghani
                                </a>
                                <a class="dropdown-item" routerLink="/sachin">CA. Sachin Jain</a>
                                <a class="dropdown-item" routerLink="/nitin">CA. Nitin Batra</a>   
                            </div>
                        </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" routerLink="/service" role="button" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                        Services
                                    </a>
                                    <div class="dropdown-menu" style="min-width: 280px;"  >
                                        <a class="dropdown-item" href="#tab1">Audit And Assurance
                                        </a>
                                        <a class="dropdown-item" href="#tab12">Taxation Consultancy</a>
                                        <a class="dropdown-item" href="#tab13">Corporate Advisory</a>
                                        <a class="dropdown-item" href="#tab14">Management Consultancy Services</a>
                                        <a class="dropdown-item" href="#tab15">Accounts, Outsourcing and Others</a>
                                        <a class="dropdown-item" href="#tab16">Start-Up</a>
                                    </div>
                                </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section5">Industry</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section6">Career</a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link  dropdown-toggle" href="#section3" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                                Important Links
                            </a>
                            <div class="dropdown-menu" style="min-width: 350px;">
                                <a class="dropdown-item" href="https://www.incometaxindia.gov.in/Pages/default.aspx">Income Tax
                                </a>
                                <a class="dropdown-item" href=" https://www.incometaxindiaefiling.gov.in/home">E-filing</a>
                                <a class="dropdown-item" href="- https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp">Payment Direct taxes</a>
                                <a class="dropdown-item"  href=" https://www.gst.gov.in/">Goods and Service Tax </a>
                                <a class="dropdown-item" href="http://cbic.gov.in/htdocs-cbec/gst/index">Central Board of Indirect Taxes</a>
                                <a class="dropdown-item" href="http://gstcouncil.gov.in/">GST
                                Council</a>
                                <a class="dropdown-item"href="http://www.mca.gov.in/">Ministry of Corporate affairs</a>
                                <a class="dropdown-item" href=" http://www.rera.mp.gov.in/">MP RERA</a>
                                <a class="dropdown-item"href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx">Reserve Bank of India(Scripts)</a>
                                <a class="dropdown-item" href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx?Id=9009&Mode=0">Reserve Bank of India(Notifications)</a>
                                <a class="dropdown-item" href=" https://www.icai.org/indexbkp.html">The Institute of Chartered Accountants of India</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section7">Article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#section8">Contact</a>
                        </li>
                    </ul>

                </div>
     </nav>
        </div>
  </header>
    <!--/ Header end -->
   
    
    <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <!-- Slider start -->
        
    <div id="section1">
        <section id="home" class="p-0">
            <div id="main-slide" class="cd-hero" >
                <ul class="cd-hero-slider" >
                    <li class="selected">
                        <div class="overlay2">
                            <img class="" src="/assets/images/Office images/computer-laptop-work-office.jpg" alt="slider">
                        </div>
                        <div class="cd-full-width" style="padding-top: 15px;">
                            <h2 style="margin-left: 0px;font-family:'Open Sans'; font-size: 30px;max-width: 400px;">Jaisinghani Jain<br>& <br>Associates</h2>
                           <p style="margin-left: 15px;line-height: 5px; margin-top: 0px;max-width: 360px; font-size: 15px;opacity: 0.2px;">Chartered Accountants</p>
                        </div>
                        <div class="cd-full-width" >
                           
                            <h2 style="color: whitesmoke; opacity: 0.7; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 40px; margin-top: 100px;">Services backed by credibility and Trustworthiness</h2>
                           
                            
                        </div> <!-- .cd-full-width -->
                    </li>
                    <li>
                        <div class="overlay2">
                            <img class="" src="/assets/images/Office images/office-work.jpg" alt="slider">
                        </div>
                        <div class="cd-full-width" style="padding-top: 15px;">
                            <h2 style="margin-left: 0px;font-family:'Open Sans'; font-size: 30px;max-width: 400px;">Jaisinghani Jain<br>& <br>Associates</h2>
                           <p style="margin-left: 15px;line-height: 5px; margin-top: 0px;max-width: 360px; font-size: 15px;opacity: 0.2px;">Chartered Accountants</p>
                        </div>
                        <div class="cd-half-width">
                            <h2 style="color: whitesmoke; opacity: 0.7; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 40px; margin-top: 100px;margin-left: 400px;">Partnering Businesses in Finance and Compliances</h2>
                            </div>
                            <!-- .cd-half-width -->
        
                        <!-- .cd-half-width.cd-img-container -->
                    </li>
                    <li>
                        <div class="overlay2">
                            <img class="" src="/assets/images/Office images/business-team-meeting-boardroom_925x-800x534.jpg" alt="slider">
                        </div>
                         <!-- .cd-half-width.cd-img-container -->
                        <div class="cd-full-width" style="padding-top: 15px;">
                            <h2 style="margin-left: 0px;font-family:'Open Sans'; font-size: 30px;max-width: 400px;">Jaisinghani Jain<br>& <br>Associates</h2>
                           <p style="margin-left: 15px;line-height: 5px; margin-top: 0px;max-width: 360px; font-size: 15px;opacity: 0.2px;">Chartered Accountants</p>
                        </div>
                        <div class="cd-half-width">
                            <h2 style="color: whitesmoke; opacity: 0.7; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 40px; margin-top: 100px; margin-left: 400px;"> Empowering you for better future</h2>
                        </div> <!-- .cd-half-width -->
                    </li>
                   
                </ul>
                <!--/ cd-hero-slider -->
        
                <div class="cd-slider-nav">
                    <nav>
                        <span class="cd-marker item-1"></span>
                        <ul>
                            <li class="selected"><a href="#0"><i class="fa fa-support"></i>Trust</a></li>
                            <li><a href="#0"><i class="fa fa-hotel"></i> Dream</a></li>
                            <li><a href="#0"><i class="fa fa-pagelines"></i> Future</a></li>
                        </ul>
                    </nav>
                </div> <!-- .cd-slider-nav -->
        
            </div>
            <!--/ Main slider end -->
        </section>
    </div>
        <!--/ Slider end -->
        
        <!-- about-us starts -->
       <!-- Main container start -->
       <div id="section2" class="container-fluid" >
           
        <section id="main-container">
                <div class="container">
                    <!-- Company Profile -->
                    <div class="row">
                        <div class="col-md-12 heading">
                            <span class="title-icon classic float-left"><i class="fa fa-suitcase"></i></span>
                            <h2 class="title classic">About Us</h2>
                        </div>
                    </div><!-- Title row end -->
            
                    <div class="row landing-tab">
                        <div class="col-md-3 col-sm-5">
                            <div class="nav flex-column nav-pills border-right" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="animated fadeIn nav-link py-4 active d-flex align-items-center" data-toggle="pill" href="#tab_1"
                                    role="tab" aria-selected="true">
                                    <i class="fa fa-user mr-4"></i>
                                    <span class="h4 mb-0 font-weight-bold">Who We Are</span>
                                </a>
                                <a class="animated fadeIn nav-link py-4 d-flex align-items-center" data-toggle="pill" href="#tab_2" role="tab"
                                    aria-selected="true">
                                    <i class="fa fa-institution mr-4"></i>
                                    <span class="h4 mb-0 font-weight-bold">Our Vision</span>
                                </a>
                                <a class="animated fadeIn nav-link py-4 d-flex align-items-center" data-toggle="pill" href="#tab_3" role="tab"
                                    aria-selected="true">
                                    <i class="fa fa-briefcase mr-4"></i>
                                    <span class="h4 mb-0 font-weight-bold">Our Mission</span>
                                </a>
                                <a class="animated fadeIn nav-link py-4 d-flex align-items-center" data-toggle="pill" href="#tab_4" role="tab"
                                    aria-selected="true">
                                    <i class="fa fa-pagelines mr-4"></i>
                                    <span class="h4 mb-0 font-weight-bold">Our Values</span>
                                </a>
                                <a class="animated fadeIn nav-link py-4 d-flex align-items-center" data-toggle="pill" href="#tab_5" role="tab"
                                    aria-selected="true">
                                    <i class="fa fa-support mr-4"></i>
                                    <span class="h4 mb-0 font-weight-bold">Registration Details</span>
                                </a>
                                <a class="animated fadeIn nav-link py-4 d-flex align-items-center" data-toggle="pill" href="#tab_6" role="tab"
                                aria-selected="true">
                                <i class="fa fa-support mr-4"></i>
                                <span class="h4 mb-0 font-weight-bold">Corporate Brochure</span>
                            </a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-7">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane pl-sm-5 fade show active animated fadeInLeft" id="tab_1" role="tabpanel">
                                    <img class="text-primary mb-4" src="/assets/images/who we are.jpeg" >	
                                    <p style=" text-align: justify;"><strong>Jaisinghani Jain &amp; Associates</strong>  is a Chartered Accountant firm     providing audit, assurance, taxation,
                                        financial advisory and consulting services to a wide range of corporate and non corporate clientele guided
                                        by core values including competence, honesty and integrity, professionalism, dedication, responsibility
                                        and accountability.The firm was established in the year 2015 and is intently focused on serving growth-oriented
                                        organizations and individuals facing expanding requirements and challenges in this new regulatory era.
                                        Whether public or private, middle-market company or larger business enterprise, nonprofit organization or
                                        high-net-worth individual, our clients share the desire to work with the professionals who possess the
                                        business and technical knowledge to deliver quality services.
                                        The interests of our clients are paramount. Our focus on the mid-market means we have a realunderstanding of the environment in which our clients operate and are ideally placed to help them grow and prosper.We have established a systematic approach to quality management and in our services and we ensure that our client needs are clearly understood, agreed and fulfilled. Today’s Businesses demands quality professional services delivered on time effectively and efficiently.Chartered Accountants today, are expected not only to provide services in the traditional domain of Auditing,Accounting and Taxation, but are expected to act as partners to their clients by providing diversified services as business development support, competitiveness in the complex environment and farsighted speculations. We
                                        strive to offer such comprehensive solutions to accomplish the needs of our clients.</p>
                                </div>
                                <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_2" role="tabpanel">
                                    <img class="text-primary mb-4" src="/assets/images/our company.jpeg" >
                                   <p style="text-align: justify;"> With <strong>‘Quality is Priority’</strong> as an ultimate aspiration, our vision is to nurture a professional firm of repute which is
                                    competitive, dynamic and focused team leader in the areas of its operation, providing the best opportunity to progress
                                    and grow to all those who are associated with it and also serving the best interests of the clients  </p>          
                                    </div>
                                <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_3" role="tabpanel">
                                    <img class=" text-primary mb-4" src="/assets/images/mouse.jpeg">
                                    <h3></h3>
                                  <p>We believe that we can add value for our clients if we truly understand their industry and their problems
                                    and for this we invest in continuously improving our knowledge of the industries we serve. Our continued
                                    endeavor is to help our clients prosper by providing them with a wide array of professional business and
                                    individual services, products, and solutions to help them better manage their business. We shall help our
                                    clients by fostering an environment that encourages personal and professional growth and a passion for
                                    the firm’s core values. We will continue to be recognized as a leader in the community – known for
                                    delivering timely, quality professional services through a multi-disciplinary approach.</p>
                                </div>
                                <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_4" role="tabpanel">
                                    <img class="text-primary mb-4" src="/assets/images/vision.jpeg">
                                    <h3></h3>
                                   <ul style="text-align: justify;text-transform: none; ">
                                      <li>Developing new services</li>
                                      <li>Bringing a fresh perspective to each assignment</li>
                                      <li>Approaching each job with the skill and drive to make a difference</li>
                                      <li> Finding new, efficient ways to lower cost in performing professional task</li>
                                      <li>Continuously gathering market intelligence and tracking emerging client needs</li>
                                      <li>Developing new skills and capabilities</li>
                                      <li>Transferring skills to junior professionals</li>
                                      <li>Sharing skills and knowledge</li>
                                      <li>Quality</li>
                                      <li>Integrity</li>
                                      <li>Simplicity</li>
                                      <li>Transparency</li>
                                      <li>Commitment</li>
                                      <li>Excellence</li>
                                      <li>Leading changes</li>
                                      <li>Professional ethics</li>
                                      <li>Result orientation</li>
                                   </ul>
                                </div>
                                <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_5" role="tabpanel">
                                    <img src="/assets/images/mission.jpeg" class="text-primary mb-4">
                                    
                                   <table>
                                       <tr>
                                           <th>Firm Registration No.(FRN), ICAI</th>
                                           <th>Establishment Year</th>
                                           <th>UNC(Unique code No.),RBI</th>
                                           <th>MEF Application No. 2019</th>
                                       </tr>
                                       <tr>
                                           <td>020674C </td>
                                           <td>12th August 2015</td>
                                           <td>1007752</td>
                                           <td>MEF72660</td>
                                       </tr>
                                   </table>
                                </div>
                                <div class="tab-pane pl-sm-5 fade animated fadeInLeft" id="tab_6" role="tabpanel">
                                    <img class="text-primary mb-4" src="/assets/images/our company.jpeg" >
                                   <p style="text-align: justify; font-style: oblique; font-family: Arial, Helvetica, sans-serif;">  </p>          
                                    </div>
                            </div>
                        </div>
                    </div>
                    <!--/ Content row end -->
                </div>
           
        
        </section>
        </div>       
      
       <!-- aboutus end -->
       <div class="gap-60"></div>

  <!-- Team start -->

   <div id="section3"  style="background-image: url('/assets/images/footer-bg.jpg');">
   
   <div class="container" >
    <div class="col-md-12 heading">
        <span class="title-icon classic float-left" style="margin-top: 10px;"><i class="fa fa-user"></i></span>
        <h2 class="title classic" style="color:#d62109;margin-top: 10px;">Our Team</h2>
   </div>
    <div class="row">
        <div class="col-sm-6 col-sm-6">
            <div class="box" style="width: 60%;margin-left: 30%;">
                <img style="height: 400px;" src="/assets/images/Office images/06b11300f66604dfad8322367d7efd34.jpg">
                <div class="box-content">
                    <h4 class="title">CA. Ankit Jaisinghani </h4>
                    <p class="description">
                        Ankit is an Associate member of the Institute of Chartered Accountants of India (ICAI) since 2015 with more than 5 years of experience working extensively in Auditing, Taxation and Corporate Law matter. <br><br><a routerLink="/ankit"  style="color: black;">Read More</a>
                    </p>
                    <div class="team-social">
                        <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twt" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
             
                    </div>
                </div>
                <div class="heading">
                    <h3 style="text-transform: capitalize; font-family: initial;">Chartered Accountants</h3>
                </div>
            </div>
            
           
            
        </div>
 
        <div class="col-sm-6 col-sm-6">
            <div class="box" style="width: 60%; margin-left: 50px;">
                <img style="height: 400px;" src="/assets/images/Office images/06b11300f66604dfad8322367d7efd34.jpg">
                <div class="box-content">
                    <h4 class="title">CA. Sachin Jain</h4>
                    <p class="description">
                        Sachin is an Associate member of the Institute of Chartered Accountants of India (ICAI) since 2015 with more than 5 years of experience working extensively in finance sector.<br><br><a routerLink="/sachin" style="color: black;">Read More</a>
                    </p>
                    <div class="team-social">
                        <a class="fb" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="twt" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="gplus" href="#"><i class="fa fa-google-plus"></i></a>
                        <a class="linkdin" href="#"><i class="fa fa-linkedin"></i></a>
                       
                    </div>
                </div>
                <div class="heading">
                    <h3  style="text-transform: capitalize; font-family: initial;">Chartered Accountants</h3>
                </div>
            </div>
        </div>
       
    </div>
</div> 
     </div>
    <div class="gap-60"></div>
    <div class="gap-60"></div>

    <!-- our team ends -->
    
                    
    <!-- 2nd container end -->
    <div class="gap-60"></div>
       
    <div class="gap-60"></div>
        <!-- service starts -->
        <div id="section4">
        <div class="container">
            <div class="col-md-12 heading">
                <span class="title-icon classic float-left"><i class="fa fa-user"></i></span>
                <h2 class="title classic">Our Services</h2>
           </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="serviceBox orange">
                        <div class="service-content" style="background-color: black;">
                          <div class="service-icon">
                              <i class="fa fa-users"></i>
                          </div>
                            <h3 class="title">Web Development</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                            </p>
                        </div>
                        <a class="read-more" href="">Read More</a>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="serviceBox orange">
                        <div class="service-content" style="background-color: black;">
                          <div class="service-icon">
                              <i class="fa fa-users"></i>
                          </div>
                            <h3 class="title">Web Development</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                            </p>
                        </div>
                        <a class="read-more" href="">Read More</a>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="serviceBox orange">
                        <div class="service-content" style="background-color: black;">
                          <div class="service-icon">
                              <i class="fa fa-users"></i>
                          </div>
                            <h3 class="title">Web Development</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                            </p>
                        </div>
                        <a class="read-more" href="">Read More</a>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="serviceBox orange">
                        <div class="service-content" style="background-color: black;">
                          <div class="service-icon">
                              <i class="fa fa-users"></i>
                          </div>
                            <h3 class="title">Web Development</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                            </p>
                        </div>
                        <a class="read-more" href="">Read More</a>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="serviceBox orange">
                        <div class="service-content" style="background-color: black;">
                          <div class="service-icon">
                              <i class="fa fa-users"></i>
                          </div>
                            <h3 class="title">Web Development</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                            </p>
                        </div>
                        <a class="read-more" href="">Read More</a>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="serviceBox orange">
                        <div class="service-content" style="background-color: black;">
                          <div class="service-icon">
                              <i class="fa fa-users"></i>
                          </div>
                            <h3 class="title">Web Development</h3>
                            <p class="description">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quaerat fugit quas veniam perferendis repudiandae sequi, dolore quisquam illum.
                            </p>
                        </div>
                        <a class="read-more" href="">Read More</a>
                    </div>
                  </div>
                 
            </div>
          </div>
        </div>
          <!-- service ends -->
       
    <div class="gap-60"></div>
        
        <!-- Career start -->
    <div id="section6">
   <section class="parallax parallax1">
            <div class="parallax-overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h2>CAREER</h2>
                        <h3>Join Our Team</h3><p style="font-size: 20px;">Send Your Resume
                            <a [routerLink]="['mailto:cajandj@gmail.com ']">cajandj@gmail.com </a>
                            
                        </p>
                    </div>
                </div>
            </div><!-- Container end -->
    </section><!-- Parallax 1 end -->
    </div>
        
        <!-- career ends -->
        
        
        <!-- Clients start -->
    <div id="section5">
    <section id="clients" class="clients">
            <!-- Top content -->

  

            <div class="container">
                
                <div class="row wow fadeInLeft">
                    <div id="client-carousel" class="col-sm-12 owl-carousel owl-theme text-center client-carousel">
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 100%;height: 100%;" src="/assets/images/automobiles.jpg" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 95%;height: 50%;" src="/assets/images/education.jpg" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 90%;height: 50%;" src="/assets/images/iron.jpg" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 100%;height: 50%;" src="/assets/images/IT.png" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 70%;height: 50%;" src="/assets/images/pharma.png" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 160px;height: 45px;" src="/assets/images/PP.png" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 80%;height: 100%;" src="/assets/images/real state.jpg" alt="client">
                            </a>
                        </figure>
                        <figure class="m-0 item client_logo">
                            <a href="#">
                                <img style="width: 80%;height: 50%;" src="/assets/images/textile.png" alt="client">
                            </a>
                        </figure>
                    </div>
                    <!-- Owl carousel end -->
                </div>
                <!-- Main row end -->

            </div>
            <!--/ Container end -->
     </section>
    </div>
        <!--/ Clients end -->

      <!-- map and contact -->
<div id="section8">
   
  
    <div class="row">
        <div class="col-6">
        <div id="map"></div>
        <!-- Replace the value of the key parameter with your own API key. -->
       <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd0xDs1vGIbIrqaYZGWo8EL2szUdBwXuA&callback=initMap">
       </script>
        </div>
      <div class="col-6">
      <form id="contact-form" action="contact-form.php" method="post" role="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" name="name" id="name" placeholder="" type="text" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" name="email" id="email" placeholder="" type="email" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Subject</label>
                    <input class="form-control" name="subject" id="subject" placeholder="" required>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Message</label>
            <textarea class="form-control" name="message" id="message" placeholder="" rows="10" required></textarea>
        </div>
        <div class="text-right"><br>
            <button class="btn btn-primary solid blank" type="submit">Send Message</button>
        </div>
    </form>
   </div>
</div>
  </div>

      <!-- ends map and contact -->

    <!-- Footer start -->
    <div id="section7">
   <footer id="footer" class="footer">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-6 col-sm-12 footer-widget">
         
            <h3 class="widget-title">Important Links</h3>
            <ul>

            <li  class="importlink"><a href="https://www.incometaxindia.gov.in/Pages/default.aspx"><strong>Income Tax</strong></a></li>

            <li  class="importlink"><a href=" https://www.incometaxindiaefiling.gov.in/home"><strong>E-filing</strong> </a></li>

            <li  class="importlink"><a href="- https://onlineservices.tin.egov-nsdl.com/etaxnew/tdsnontds.jsp"><strong>Payment Direct taxes</strong> </a></li>

            
            <li  class="importlink"><a href=" https://www.gst.gov.in/"><strong>Goods and Service Tax </strong> </a></li>

            <li  class="importlink"><a href="http://cbic.gov.in/htdocs-cbec/gst/index"><strong>Central Board of Indirect Taxes</strong> </a></li>

            <li  class="importlink"><a href="http://gstcouncil.gov.in/"><strong>GST Council</strong> </a></li>

            <li  class="importlink"><a href="http://www.mca.gov.in/"><strong>Ministry of Corporate affairs</strong> </a></li>

            <li  class="importlink"><a href=" http://www.rera.mp.gov.in/"><strong>MP RERA</strong> </a></li>

            <li  class="importlink"><a href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx"><strong>Reserve Bank of India(Scripts) </strong> </a></li>

            <li  class="importlink"><a href=" https://www.rbi.org.in/Scripts/NotificationUser.aspx?Id=9009&Mode=0"><strong>Reserve Bank of India(Notifications)</strong> </a></li>

            <li  class="importlink"><a href=" https://www.icai.org/indexbkp.html"><strong>The Institute of Chartered Accountants of India</strong> </a></li>
          </ul>
	      </div>
         <!-- contact starts -->
	      <div class="col-md-6 col-sm-12 footer-widget footer-about-us">
            <h3 class="widget-title">JAISINGHANI JAIN AND ASSOCIATES<p>Chartered Accountants</p></h3>
        
                
	        <h4>Address</h4>
	        <p>12, First Floor,
                Johari Palace,
                <br>Near Treasure Island Mall, Indore</p>
	        <div class="row">
	          <div class="col-md-6">
	            <h4>Email:</h4>
	            <p>cajandj@gmail.com </p>
	          </div>
	          <div class="col-md-6">
	            <h4>Phone No.</h4>
	            <p>0731-4030801</p>
              </div>
	        </div>
	        <form action="#" role="form">
	          <div class="input-group subscribe">
	            <input type="email" class="form-control" placeholder="Email Address" required="">
	            <span class="input-group-addon">
	              <button class="btn" type="submit"><i class="fa fa-envelope-o"> </i></button>
	            </span>
	          </div>
	        </form>
	      </div>
          <!--/ end contact us -->
       
    </div><!-- Row end -->
	  </div><!-- Container end -->
   </footer><!-- Footer end -->


	<!-- Copyright start -->
    <section id="copyright" class="copyright angle">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <ul class="footer-social unstyled">
	          <li>
	            <a title="Twitter" href="#">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
	            </a>
	            <a title="Facebook" href="#">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
	            </a>
	            <a title="Google+" href="#">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
	            </a>
	            <a title="linkedin" href="#">
	              <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
	            </a>
	          
	            
	          </li>
	        </ul>
	      </div>
	    </div>
	    <!--/ Row end -->
	    <div class="row">
	      <div class="col-md-12 text-center">
	        <div class="copyright-info">
              &copy; Copyright 2020 Jaisinghani Jain & Associates. 
              <button class="bg-dark" (click)="disclamier()">Disclamier</button>
	        </div>
	      </div>
	    </div>
	    <!--/ Row end -->
	    
	  </div>
	  <!--/ Container end -->
    </section>
	<!--/ Copyright end -->

</div>
</div>




